.footer {
  position: fixed;
  bottom: 0;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background: rgb(14, 124, 23);
  padding: 10px;
  color: white;
}
.item {
  margin: 50px;
}
