.header {
  background: rgba(112, 3, 15, 1);
  font-family: arial;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
