.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: o auto;
}
.itemName {
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
}
.line {
  border: 1px solid #f4f4f4f4;
}
.deleteButton {
  float: right;
  border: none;
  background: rgb(15, 122, 24);
  color: white;
  padding: 12px 18px;
  margin-top: -5px;
  border-radius: 6px;
  cursor: pointer;
}
.completed{
  text-decoration: line-through;
}
